---
import { getCollection } from "astro:content";
import { useTranslations } from "@i18n/utils";
import Icon from "@components/ui/Icon.astro";
import TutorialsLayout from "@layouts/TutorialsLayout.astro";
import type { CollectionEntry } from "astro:content";
import type { ui } from "@i18n/ui";

export async function getStaticPaths() {
    const tutorials = await getCollection("tutoriels");

    return tutorials.map((tutorial) => {
        const [lang, ...slug] = tutorial.slug.split("/");
        return {
            params: {
                lang,
                slug: slug.join('/') || undefined,
            },
            props: {
                tutorial,
            },
        };
    });
};

const { lang } = Astro.params;
const t = useTranslations(lang as keyof typeof ui);

interface Props {
    tutorial: CollectionEntry<'tutoriels'>;
};
const { tutorial } = Astro.props;
const { Content } = await tutorial.render();
---

<TutorialsLayout title={tutorial.data.title} tutorial={tutorial}>
    <div class="flex flex-col px-6 md:px-12 pt-6 pb-16 mx-auto w-full max-w-5xl">
        {/* Breadcrumbs */}
        <div class="flex items-center gap-2">
            <div class="grow leading-5 overflow-hidden whitespace-nowrap">
                <div class="flex items-center text-sm gap-1">
                    <a class="inline-flex items-center text-neutral-600 hover:text-white" href={`/${lang}/tutoriels/`}>
                        <span>
                            {t('tutorials.breadcrumbs.root')}
                        </span>
                        <Icon class="w-4 h-4 shrink-0 fill-none stroke-current stroke-[1.5]" name="right-chevron" />
                    </a>
                    <span class="text-neutral-200">
                        {tutorial.data.title}
                    </span>
                </div>
            </div>
        </div>
        {/* Title */}
        <div class="flex mt-8 mb-4">
            <h1 class="relative inline-flex items-center text-neutral-100 text-2xl md:text-5xl leading-[26px] md:leading-[3.5rem] tracking-tighter font-semibold">
                <a class="group inline-flex items-center gap-4 break-words" href="#">
                    <span class="group-hover:underline underline-offset-8 decoration-1">{tutorial.data.title}</span>
                    <Icon class="w-auto h-8 fill-none stroke-current stroke-[1.5] invisible md:group-hover:visible" name="internal-link" />
                </a>
            </h1>
        </div>
        {/* Content */}
        <div class="prose md:prose-lg prose-invert prose-h2:font-medium max-md:prose-h2:text-xl md:text-justify max-w-none">
            <Content />
        </div>
    </div>
</TutorialsLayout>