---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import ButtonAction from "@components/ui/ButtonAction.astro";
import Icon from "@components/ui/Icon.astro";
import LanguagePicker from "@components/ui/LanguagePicker.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-neutral-900/90 border-t border-t-white border-opacity-40 py-10 text-sm md:py-16 lg:py-28 mt-auto">
    <div class="flex flex-col gap-y-10 px-4 mx-auto max-w-8xl">
        <Icon className="h-20 w-auto fill-white self-start" name="minet" />
        <div class="flex flex-col md:flex-row place-content-between md:gap-x-4 text-white">
            <div>
                <ul class="marker:text-sky-400 list-disc font-normal text-white text-opacity-75 md:max-w-[255px]">
                    <span class="block font-semibold text-white">
                        {t('footer.issue')}
                    </span>
                    <li class="ml-3 pt-4">
                        {t('footer.see-status')}&nbsp;<a class="text-sky-400 hover:underline underline-offset-4" href="https://status.minet.net" target="_blank">{t('footer.see-status.link')}</a>.
                    </li>
                    <li class="ml-3 pt-4">
                        {t('footer.duty')}
                    </li>
                    <li class="ml-3 pt-4">
                        {t('footer.ticket')}.
                    </li>
                </ul>
                <div class="flex mt-6">
                <ButtonAction class="relative rounded-full px-3 py-2" href="https://tickets.minet.net/" rounded="full" underline={false}>
                    {(t('footer.ticket') as string).charAt(0).toUpperCase() + t('footer.ticket').slice(1)}
                </ButtonAction>
                </div>
                <LanguagePicker />
            </div>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6 pt-20 md:pt-0 text-sm">
                <div class="md:w-auto md:p-4 lg:w-40">
                    <span class="block font-semibold">
                        Ressources
                    </span>
                    <ul class="flex flex-col gap-y-3 pt-3">
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/tutoriels/`} target="_self">
                                {t('nav.tutorials')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/equipe/`} target="_self">
                                {t('nav.team')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/clubs/`} target="_self">
                                {t('nav.clubs')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/partenaires/`} target="_self">
                                {t('nav.partners')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/services/`} target="_self">
                                {t('nav.services')}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="md:w-auto md:p-4 lg:w-40">
                    <span class="block font-semibold">
                        {t('footer.contact')}
                    </span>
                    <ul class="flex flex-col gap-y-3 pt-3">
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://tickets.minet.net/" target="_blank">
                                Tickets
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://www.facebook.com/minet.tmsp/" target="_blank">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://discord.gg/minet" target="_blank">
                                Discord
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-start-1 row-start-2 flex md:hidden items-end">
                    <ul class="flex items-end gap-2">
                        <li>
                            <a aria-label="Facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/minet.tmsp/">
                                <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="facebook" />
                            </a>
                        </li>
                        <li>
                            <a aria-label="Twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/MinetTMSP/">
                                <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="twitter" />
                            </a>
                        </li>
                        <li>
                            <a aria-label="Linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/minet">
                                <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="linkedin" />
                            </a>
                        </li>
                        <li>
                            <a aria-label="Discord" target="_blank" rel="noopener noreferrer" href="https://discord.gg/minet">
                                <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="discord" />
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="md:w-auto md:p-4 lg:w-40">
                    <span class="block font-semibold">
                        {t('footer.association')}
                    </span>
                    <ul class="flex flex-col gap-y-3 pt-3">
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://minet.net/res/statuts.pdf" target="_blank">
                                {t('footer.association.status')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://chartes.minet.net/" target="_blank">
                                {t('footer.association.charter')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="#" target="_blank">
                                {t('footer.association.privacy')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="#" target="_self">
                                {t('footer.association.legal')}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex items-center place-content-between pt-2">
            <span class="text-white text-opacity-75">
                © 2023 MiNET - {t('footer.rights')}<br />
                {t('footer.credit')}&nbsp;<span class="font-mono font-semibold text-red-400">xanode</span>
            </span>
            <ul class="hidden md:flex gap-x-2 [&>svg]:cursor-pointer">
                <li>
                    <a aria-label="Facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/minet.tmsp/">
                        <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="facebook" />
                    </a>
                </li>
                <li>
                    <a aria-label="Twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/MinetTMSP/">
                        <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="twitter" />
                    </a>
                </li>
                <li>
                    <a aria-label="Linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/minet">
                        <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="linkedin" />
                    </a>
                </li>
                <li>
                    <a aria-label="Discord" target="_blank" rel="noopener noreferrer" href="https://discord.gg/minet">
                        <Icon className="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" name="discord" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>