---
import MemberCard from '@components/team/MemberCard.astro';
import OldMembersSection from '@components/team/OldMembersSection.astro';
import PulseCircles from '@components/team/PulseCircles.astro';
import TeamCard from '@components/team/TeamCard.astro';
import TeamCarousel from '@components/team/TeamCarousel.astro';
import Layout from '@layouts/Layout.astro';

import RespoWifiReference from "@assets/equipe/tim.png";
import RespoFormations1Reference from "@assets/equipe/val.png";
import RespoFormations2Reference from "@assets/equipe/louis.png";
import RespoWebReference from "@assets/equipe/thomas.png";
import TresorierReference from "@assets/equipe/baptiste.png";
import VicePresident1Reference from "@assets/equipe/tom.png";
import RespoInventaireReference from "@assets/equipe/mathis.png";
import SecretaireReference from "@assets/equipe/esteban.png";
import RespoClubsReference from "@assets/equipe/chabane.png";
import RespoCommunication1Reference from "@assets/equipe/raph.png";
import PresidentReference from "@assets/equipe/nicolasp.png";
import RespoCommunication2Reference from "@assets/equipe/juliette.png";
import VicePresident2Reference from "@assets/equipe/nicolasvp.png";
import RespoREReference from "@assets/equipe/yasmine.png";
---

<Layout title="MiNET - L'équipe">
	<main class="py-20 px-2 mt-20 overflow-x-hidden">
		<div class="flex flex-col items-center gap-40">
			<section class="relative text-white">
				<div class="mx-auto pb-56">
					<h1 class="relative text-5xl md:text-7xl font-bold text-center mb-10">
						Notre équipe
					</h1>
					<p class="text-2xl text-center">
						Découvrez l'équipe MiNET
					</p>
					<PulseCircles />
					<TeamCarousel startIndex={7}>
						<li>
							<TeamCard image={RespoREReference} name="Yasmine Aluch" role="Responsable Relations Entreprises" pseudo="samayass" />
						</li>
						<li>
							<TeamCard image={RespoClubsReference} name="Chabane Petit" role="Responsable Clubs" pseudo="lowengeist" />
						</li>
						<li>
							<TeamCard image={RespoCommunication1Reference} name="Raphaël Bachelier" role="Responsable Communication" pseudo="ptitegame" />
						</li>
						<li>
							<TeamCard image={RespoWebReference} name="Thomas Robert" role="Responsable Web" pseudo="toyohr" />
						</li>
						<li>
							<TeamCard image={RespoFormations1Reference} name="Valentin Lantigny" role="Responsable Formations" pseudo="valt" />
						</li>
						<li>
							<TeamCard image={SecretaireReference} name="Esteban Dectot" role="Secrétaire" pseudo="greemty" />
						</li>
						<li>
							<TeamCard image={VicePresident1Reference} name="Tom Burellier" role="Vice-Président" pseudo="balmine" />
						</li>
						<li>
							<TeamCard image={PresidentReference} name="Nicolas Rocq" role="Président" pseudo="nishogi" />
						</li>
						<li>
							<TeamCard image={VicePresident2Reference} name="Nicolas Renout" role="Vice-Président" pseudo="naincapable" />
						</li>
						<li>
							<TeamCard image={TresorierReference} name="Baptiste Legros" role="Trésorier" pseudo="direshaw" />
						</li>
						<li>
							<TeamCard image={RespoFormations2Reference} name="Louis Delyon" role="Responsable Formations" pseudo="rustace" />
						</li>
						<li>
							<TeamCard image={RespoWifiReference} name="Timothée Mathubert" role="Responsable Wi-Fi" pseudo="xhelozs" />
						</li>
						<li>
							<TeamCard image={RespoCommunication2Reference} name="Juliette Bourdiau" role="Responsable Communication" pseudo="jouliet" />
						</li>
						<li>
							<TeamCard image={RespoInventaireReference} name="Mathis Williot" role="Responsable Inventaire" pseudo="jflyxx" />
						</li>
					</TeamCarousel>
				</div>
			</section>
			<OldMembersSection mandate="2022-2023">
				<MemberCard name="Nathan Stchepinsky" pseudo="seaweedbrain" role="Président" />
				<MemberCard name="Clément Lucas" pseudo="sulray" role="Vice-Présidente" />
				<MemberCard name="Siffrein Sigy" pseudo="wobarron" role="Vice-Président" />
				<MemberCard name="Gatien Roujanski" pseudo="fauconk" role="Secrétaire" />
				<MemberCard name="Bence Kolonics" pseudo="placeholder" role="Responsable Formations" />
				<MemberCard name="Benoit Marzelleau" pseudo="xanode" role="Responsable Web & Formations" />
				<MemberCard name="Alexandre Humeau" pseudo="didier" role="Responsable Wi-Fi" />
				<MemberCard name="Orlane Donias" pseudo="kamiro" role="Responsable Communication" />
				<MemberCard name="Inès Kacer" pseudo="nesi" role="Responsable Communication" />
				<MemberCard name="Hector Fétis" pseudo="smyler" role="Responsable Clubs" />
				<MemberCard name="Yassine Boussafir" pseudo="bouyass" role="Responsable Permanences" />
				<MemberCard name="Thomas Plazziac" pseudo="fabulo" role="Responsable Inventaire" />
			</OldMembersSection>
			<OldMembersSection mandate="2021-2022">
				<MemberCard name="Jules Gonzales" pseudo="seberus" role="Président" />
				<MemberCard name="Éloïse Bonnet" pseudo="lovali" role="Vice-Présidente" />
				<MemberCard name="Hamza Benfkira" pseudo="lionofinterest" role="Vice-Président" />
				<MemberCard name="Héloïse Thu Ping One" pseudo="heloise" role="Trésorière" />
				<MemberCard name="Amar Drame" pseudo="adn8" role="Vice-Trésorier" />
				<MemberCard name="Kenza Benjelloun" pseudo="growser" role="Secrétaire" />
				<MemberCard name="Viktor Colas" pseudo="vaktas" role="Responsable Web & Formations" />
				<MemberCard name="Paul Vancauwenberghe" pseudo="kl0wn" role="Responsable Formations & Communication" />
				<MemberCard name="Zohra Bekhti" pseudo="zohrabekhti" role="Responsable Communication" />
				<MemberCard name="Kanamé Murakami" pseudo="free_hugs" role="Responsable Relations Clubs" />
				<MemberCard name="Léonard Fourneret" pseudo="pasta" role="Responsable Relations Entreprises" />
				<MemberCard name="Martin Spiering" pseudo="typhlos" role="Responsable Hardware" />
				<MemberCard name="Pierre Cornette" pseudo="flying_potato" role="Responsable Archéologistique" />
			</OldMembersSection>
			<OldMembersSection mandate="2020-2021">
				<MemberCard name="Clément Parssegny" pseudo="cleplatypint" role="Président" />
				<MemberCard name="Dzenan Cindrak" pseudo="za" role="Vice-Président & Secrétaire" />
				<MemberCard name="Gauthier Carpentier" pseudo="nierquick" role="Vice-Président" />
				<MemberCard name="Anna-Rose Lescure" pseudo="kapebm" role="Trésorière" />
				<MemberCard name="Yasmine Mazouz" pseudo="enimsay" role="Vice-Trésorière" />
				<MemberCard name="Mohamed Chamrouk" pseudo="snow" role="Resposnable Communication" />
				<MemberCard name="Othman Mhaouty" pseudo="bjorno" role="Responsable Formations" />
				<MemberCard name="Valentin Paolicelli" pseudo="omeega1" role="Responsable Clubs" />
				<MemberCard name="Aurélien Chomon" pseudo="financier" role="Responsable Relations Entreprises" />
			</OldMembersSection>
			<OldMembersSection mandate="2019-2020">
				<MemberCard name="François Horta" pseudo="frazew" role="Président" />
				<MemberCard name="Johan Hubau-Honoré" pseudo="heisenberg" role="Vice-Président" />
				<MemberCard name="Gabriel Prévault" pseudo="gabery" role="Vice-Président" />
				<MemberCard name="Xavier-Henri Monier" pseudo="archonte" role="Trésorier" />
				<MemberCard name="Julie Chevrier" pseudo="littlewillow" role="Secrétaire" />
				<MemberCard name="Alexandre Breux" pseudo="diabord" role="Responsable Web" />
				<MemberCard name="Constance Chou" pseudo="rico" role="Responsable Communication" />
				<MemberCard name="Jean-Baptiste Mouret" pseudo="hydroxyl" role="Trésorier" resignation/>
			</OldMembersSection>
			<OldMembersSection mandate="2018-2019">
				<MemberCard name="Emmanuel Allaire" pseudo="abracastoral" role="Président" />
				<MemberCard name="Clément Taverne" pseudo="simtrami" role="Vice-Président" />
				<MemberCard name="Valentin Penciolelli" pseudo="penpen" role="Trésorier" />
				<MemberCard name="Etienne Lamouret" pseudo="etiennewan" role="Secrétaire" />
				<MemberCard name="Alice Rebeyrol" pseudo="shatoon" role="Responsable Communication" />
				<MemberCard name="Olivier Dulcy" pseudo="moog" role="Responsable Formation" />
				<MemberCard name="Pierrick Gorisse" pseudo="teagrain" role="Responsable Sécurité" />
				<MemberCard name="Adrien Floriant" pseudo="mad" role="Responsable Logiciels Libres" resignation/>
			</OldMembersSection>
			<OldMembersSection mandate="2017-2018">
				<MemberCard name="Romain Cherré" pseudo="varens" role="Président" />
				<MemberCard name="Nicolas Bonnet" pseudo="InsolentBacon" role="Vice-Président" />
				<MemberCard name="Pierre Bidault" pseudo="debiantarte" role="Trésorier" />
				<MemberCard name="Yohann Pipereau" pseudo="sowarks" role="Secrétaire" />
				<MemberCard name="Erwan Goareguer" pseudo="backpack" role="Responsable Web" />
				<MemberCard name="Tahar Boubeker" pseudo="conspiracy" role="Responsable Communication" />
				<MemberCard name="Stevan Coroller" pseudo="occuria" role="Responsable Sécurité" />
				<MemberCard name="Shems Bourass" pseudo="donk" role="Responsable Log-Monitoring" />
				<MemberCard name="Pierrick Pamart" pseudo="kwaky" role="Responsable Premières années" />
			</OldMembersSection>
			<OldMembersSection mandate="2016-2017">
				<MemberCard name="Thomas Coutelou" pseudo="thunder" role="Président" />
				<MemberCard name="Constantin Vurli" pseudo="theagentsmith" role="Vice-Président" />
				<MemberCard name="Guillaume Gonthier" pseudo="undeb" role="Vice-Président" />
				<MemberCard name="Aurélien Bettini" pseudo="gerox" role="Trésorier" />
				<MemberCard name="Mariem Ouechtati" pseudo="wish" role="Secrétaire" />
				<MemberCard name="Adrien Cohen" pseudo="pandouille" role="Responsable Web" />
				<MemberCard name="Charles Caporali" pseudo="capolrik" role="Responsable Communication" />
				<MemberCard name="Alexandre Lefort" pseudo="gingerbread" role="Responsable Formation" />
				<MemberCard name="Antoine Tadros" pseudo="ramses" role="Vice-Trésorier" />
				<MemberCard name="Hugo Rodriguez" pseudo="mfidel" role="Responsable Réseau" />
				<MemberCard name="Lucas Sirvent" pseudo="et_lux_fuit" role="Responsabe Relations Entreprises" />
				<MemberCard name="Florian Martin" pseudo="manwefm" role="Responsable Sécurité" />
				<MemberCard name="Ignacio Tamayo" pseudo="tamayo_j" role="Vieu sage du réseau" />
				<MemberCard name="Benjamin Deyrolles" pseudo="sinoy" role="Community Manager" />
				<MemberCard name="Eve Refeyton" pseudo="eve" role="Responsable Relations Internes" />
			</OldMembersSection>
			<OldMembersSection mandate="2015-2016">
				<MemberCard name="Thibault Sautereau" pseudo="thithib" role="Président" />
				<MemberCard name="Vincent Gourvennec" pseudo="vzh" role="Vice-Président" />
				<MemberCard name="Antoine Bernard" pseudo="spiderweak" role="Vice-Président" />
				<MemberCard name="Adrien Wion" pseudo="aharion" role="Trésorier" />
				<MemberCard name="Stéphane Kombo" pseudo="stfk" role="Secrétaire" />
				<MemberCard name="Théodore Riera" pseudo="warsang" role="Responsable Web" />
				<MemberCard name="Sondra Strimbei" pseudo="sasayake" role="Responsable Communication" />
				<MemberCard name="Yassine Tioual" pseudo="nisay" role="Responsable Formation" />
				<MemberCard name="Malcolm Bourdon" pseudo="skinndhou" role="Vice-Trésorier" />
				<MemberCard name="Antoine Morrier" pseudo="qnope" role="Responsable Logiciels Libres" />
				<MemberCard name="Ambre Montfort" pseudo="amber" role="Responsable Relations Entreprises" />
				<MemberCard name="Benoit Bazard" pseudo="ginkgo" role="Responsable Hardware" />
			</OldMembersSection>
			<OldMembersSection mandate="2014-2015">
				<MemberCard name="Anasse Hassala" pseudo="marlow" role="Président" />
				<MemberCard name="Paul Jarleton" pseudo="sarlam" role="Vice-Président" resignation/>
				<MemberCard name="Andréa Mornet-Martinvalet" pseudo="badgohan" role="Trésorière" />
				<MemberCard name="Pauline Remontet" pseudo="draconis" role="Secrétaire" />
				<MemberCard name="Youness Skalli" pseudo="yon" role="Responsable Web" />
				<MemberCard name="Nicolas Merle" pseudo="antonov" role="Responsable Communication" />
				<MemberCard name="Kevin Cazal" pseudo="no_pseudo" role="Responsable Formations" />
				<MemberCard name="Jean-Edouard Reuglewicz" pseudo="bichon" role="Responsable Hardware" />
				<MemberCard name="Marie-Pierre Salvi" pseudo="twili" role="Responsable Logiciels Libres" />
				<MemberCard name="Myriam El-Houdini-Dehaudt" pseudo="timka" role="Responsable Conférences" />
				<MemberCard name="Noé Marius" pseudo="khalaan" role="Responsable Monitoring" />
			</OldMembersSection>
			<OldMembersSection mandate="2013-2014">
				<MemberCard name="Benoit Tellier" pseudo="benwa" role="Président" />
				<MemberCard name="Emmanuel Chaboud" pseudo="amadeus" role="Vice-Président" />
				<MemberCard name="Meriam Lachkar" pseudo="lachkar" role="Trésorière" />
				<MemberCard name="Pernelle Mensah" pseudo="pernelle" role="Secrétaire" />
				<MemberCard name="Kelvin Moutet" pseudo="kelvin" role="Responsable Web" />
				<MemberCard name="Fabien Vandeschrick" pseudo="vandesch" role="Responsable Communication" />
				<MemberCard name="Emmanuel Blonkowski" pseudo="" role="Responsable Monitoring" />
				<MemberCard name="Christophe Chhiev" pseudo="karakoufou" role="Responsable Hardware" />
				<MemberCard name="Abdelaziz Ben Adada" pseudo="" role="Responsable Wi-Fi" />
			</OldMembersSection>
			<OldMembersSection mandate="2012-2013">
				<MemberCard name="Anthony Verez" pseudo="netantho" role="Président" />
				<MemberCard name="Thibauld Ingargiola" pseudo="tsi" role="Vice-Président" />
				<MemberCard name="François Monniot" pseudo="" role="Trésorier" />
				<MemberCard name="Ghaleb Karam" pseudo="atrax" role="Secrétaire" />
				<MemberCard name="Alexis Mousset" pseudo="" role="Responsable Formation" />
				<MemberCard name="Maël Kimmerlin" pseudo="" role="Responsable Hardware" />
				<MemberCard name="Guilhem Tiennot" pseudo="" role="Responsable Wi-Fi" />
				<MemberCard name="Emilie Vauthrot" pseudo="syew" role="Responsable Projets" />
				<MemberCard name="Guillaume Hugues" pseudo="" role="Responsable Évènements" />
			</OldMembersSection>
			<OldMembersSection mandate="2011-2012">
				<MemberCard name="Stéphanie Ouillon" pseudo="stephanie" role="Présidente" />
				<MemberCard name="Nicolas Carlo" pseudo="espeon" role="Vice-Président" />
				<MemberCard name="Ariane Richer" pseudo="ariane" role="Trésoière" />
				<MemberCard name="Vincent Jacquot" pseudo="stern" role="Secrétaire" />
				<MemberCard name="Vincent Pesenti" pseudo="jaden" role="Responsable Projets" />
				<MemberCard name="Yolaine Raux" pseudo="layian" role="Responsable Formation" />
				<MemberCard name="Philippe Tillet" pseudo="ragnar" role="Responsable Applications" />
				<MemberCard name="Fabien Bernard" pseudo="fab0102" role="Bienfaiteur" />
			</OldMembersSection>
			<OldMembersSection mandate="2010-2011">
				<MemberCard name="Guillaume Rose" pseudo="MrFreeze" role="Président" />
				<MemberCard name="Medhi Sebar" pseudo="ever1" role="Vice-Président" />
				<MemberCard name="Emilien Kofman" pseudo="emi" role="Trésorier" />
				<MemberCard name="Clément Bethuys" pseudo="bethclem" role="Secrétaire" />
				<MemberCard name="Yolaine Raux" pseudo="" role="Responsable Formation" />
				<MemberCard name="Guillaume Demaison" pseudo="XtalSi" role="Responsable Technique" />
				<MemberCard name="Mathieu Cassard" pseudo="cassou" role="Responsable Projets" />
			</OldMembersSection>
			<OldMembersSection mandate="2009-2010">
			</OldMembersSection>
			<OldMembersSection mandate="2008-2009">
			</OldMembersSection>
			<OldMembersSection mandate="2007-2008">
			</OldMembersSection>
			<OldMembersSection mandate="2006-2007">
			</OldMembersSection>
			<OldMembersSection mandate="2005-2006">
			</OldMembersSection>
			<OldMembersSection mandate="2004-2005">
			</OldMembersSection>
			<OldMembersSection mandate="2003-2004">
			</OldMembersSection>
			<OldMembersSection mandate="2002-2003">
			</OldMembersSection>
			<OldMembersSection mandate="2001-2002">
			</OldMembersSection>
			<OldMembersSection mandate="2000-2001">
			</OldMembersSection>
			<OldMembersSection mandate="1999-2000">
			</OldMembersSection>
			<OldMembersSection mandate="1998-1999">
				<MemberCard name="Loïc Bernable" pseudo="Leto" role="Président" />
				<MemberCard name="Jean-Jacques Puig" pseudo="JJ" role="Vice-Président" />
				<MemberCard name="Emmanuel Araman" pseudo="Manu" role="Trésorier" />
				<MemberCard name="Sylvain Rey" pseudo="Ramsey" role="Secrétaire" />
			</OldMembersSection>
			<OldMembersSection mandate="1997-1998">
				<MemberCard name="Steeve Devergne" pseudo="steeve" role="Président" />
				<MemberCard name="Kewin Kubryck" pseudo="kewin" role="Vice-Président" />
				<MemberCard name="Éric Ferrand" pseudo="eric" role="Trésorier" />
				<MemberCard name="Stéphane Lecoanet" pseudo="maciste" role="Secrétaire" />
			</OldMembersSection>
		</div>
	</main>
</Layout>