---
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';

interface Props {
    name?: string;
    image: ImageMetadata;
    color1: string;
    color2: string;
    color3: string;
}
const { name, image, color1, color2, color3 } = Astro.props;
const colors = [color1, color2, color3];
---

<div class="aria-hidden:hidden relative flex flex-col lg:flex-row items-center gap-20 mt-20" data-name={name}>
    <div class="hidden lg:block absolute -z-1 inset-0 overflow-hidden blur-pulse-after select-none pointer-events-none">
        <div class={`absolute rounded-full ${colors[0]} opacity-60 w-175 h-175 -z-20 top-2/5 left-3/5 mix-blend-lighten animate-gradient-1`}></div>
        <div class={`absolute rounded-full ${colors[1]} opacity-60 w-150 h-150 -z-10 top-3/5 left-2/5 mix-blend-screen animate-gradient-2`}></div>
        <div class={`absolute rounded-full ${colors[2]} opacity-60 w-125 h-125 -z-30 top-1/2 left-1/2 mix-blend-screen animate-gradient-3`}></div>
    </div>
    <div class="overflow-hidden basis-1/2 border rounded-2xl border-white/50 md:w-1/2">
        <Image src={image} alt="" class="w-full" />
    </div>
    <div class="relative flex flex-col gap-2 max-w-5xl">
        <slot />
    </div>
</div>