---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import ButtonAction from "@components/ButtonAction.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer class="bg-neutral-900/90 border-t border-t-white border-opacity-40 py-10 text-sm md:py-16 lg:py-28 mt-auto">
    <div class="flex flex-col gap-y-10 px-4 mx-auto max-w-8xl">
        <svg class="h-20 w-auto fill-white self-start" viewBox="0 0 434.5 279.1"><path d="M62.5 110.6h0 0 0z"/><path d="M209.6 103.5c0-.5.3-2-.9-3.7-1.1-1.5-2.7-1.9-4.4-1.9h-.2-.2c-1.6 0-3.3.4-4.4 1.9-1.2 1.7-.9 3.2-.9 3.7s-3.7 6.7-3.2 7.6c.3.5 1.5-.3 1.5.4s-1.2 7.7 7.1 7.7h.1.1c8.3 0 7.1-7 7.1-7.7s1.2.1 1.5-.4c.4-.9-3.2-7.1-3.2-7.6zm-2.8-1.9c.4 0 .8.4.8.8s-.4.8-.8.8-.8-.4-.8-.8.3-.8.8-.8zm-5.4 0c.4 0 .8.4.8.8s-.4.8-.8.8-.8-.4-.8-.8.3-.8.8-.8zm7.4 14.4c-.4.7-1.4 1.8-4.5 1.9h-.2-.2c-3.1 0-4-1.2-4.5-1.9-1.3-2.2-.1-5.9.9-8.4.4-1-.4-2.3.5-2.4h.1c.8 0 2.4 1.2 3.1 1.4h.2.2c.7-.2 2.4-1.5 3.1-1.4.9.1.1 1.4.5 2.4.8 2.5 2.1 6.2.8 8.4z" fill="#71cff1"/><path d="M148.9 103.3c5 0 9.7.9 14 2.8s8.1 4.4 11.4 7.7 5.9 7 7.8 11.4c1.9 4.3 2.8 9 2.8 14v36h-14.2v-36c0-3-.6-5.8-1.7-8.4s-2.7-4.9-4.6-6.9c-2-2-4.3-3.5-7-4.6s-5.5-1.7-8.5-1.7-5.8.6-8.4 1.7-4.9 2.7-6.9 4.6c-2 2-3.5 4.3-4.6 6.9s-1.7 5.4-1.7 8.4v36H113v-36c0-3-.6-5.8-1.7-8.4s-2.7-4.9-4.6-6.9c-2-2-4.3-3.5-7-4.6s-5.5-1.7-8.5-1.7-5.8.6-8.4 1.7-4.9 2.7-6.9 4.6c-2 2-3.5 4.3-4.6 6.9s-1.7 5.4-1.7 8.4v36H55.4v-36c0-5 .9-9.7 2.8-14s4.4-8.1 7.7-11.4 7.1-5.8 11.4-7.7c4.4-1.9 9-2.8 13.9-2.8 6 0 11.4 1.3 16.4 3.9s9.1 6.2 12.4 10.6c3.3-4.5 7.5-8 12.5-10.6 5.1-2.6 10.5-3.9 16.4-3.9zm83.4 22c1.9-4.3 4.4-8.1 7.7-11.4s7.1-5.8 11.4-7.7c4.4-1.9 9-2.8 13.9-2.8 5 0 9.7.9 14 2.8s8.1 4.4 11.4 7.7 5.9 7 7.8 11.4c1.9 4.3 2.8 9 2.8 14v36h-14.2v-36c0-3-.6-5.8-1.7-8.4s-2.7-4.9-4.6-6.9c-2-2-4.3-3.5-7-4.6s-5.5-1.7-8.5-1.7-5.8.6-8.4 1.7-4.9 2.7-6.9 4.6c-2 2-3.5 4.3-4.6 6.9s-1.7 5.4-1.7 8.4v36h-14.2v-36c0-5 .9-9.7 2.8-14zm130.1 24.6l10.1 10.1-5 5a35.3 35.3 0 0 1-11.7 7.8 36.1 36.1 0 0 1-13.8 2.7 36.1 36.1 0 0 1-13.8-2.7 35.3 35.3 0 0 1-11.7-7.8c-3.5-3.5-6.1-7.5-7.8-11.9s-2.6-8.9-2.6-13.5.9-9.1 2.6-13.4c1.7-4.4 4.3-8.3 7.8-11.8s7.5-6.2 11.9-7.9c4.4-1.8 8.9-2.6 13.5-2.6s9.1.9 13.5 2.6c4.4 1.8 8.4 4.4 11.9 7.9l5 5-39.6 39.6c4.1 2 8.3 2.7 12.9 2 4.5-.7 8.5-2.7 11.9-6.2l4.9-4.9zm-35.6-25.8c-4.3 4.3-6.4 9.4-6.4 15.4 0 3.3.7 6.5 2.2 9.4l5.8-5.8 8.3-8.3 8.5-8.4 6.3-6.2c-4.1-2-8.3-2.7-12.9-2.1-4.5.6-8.4 2.6-11.8 6zm93.6 36.8v14.2h-7c-4.9 0-9.5-.9-13.9-2.8a36.57 36.57 0 0 1-19.3-19.3c-1.9-4.4-2.8-9-2.8-13.9V74.5h14.2v30.2h28.8V119h-28.8v20.2c0 3 .6 5.8 1.7 8.5s2.7 5 4.6 7c2 2 4.3 3.5 7 4.6s5.5 1.7 8.5 1.7h7z" fill="#f8f9fa"/><linearGradient id="A" gradientUnits="userSpaceOnUse" x1="208.831" y1="175.048" x2="208.347" y2="122.76"><stop offset="0" stop-color="#6fa3e8"/><stop offset="1" stop-color="#71cff1"/></linearGradient><path d="M203.1 170.7v-37.6h-7.5c-1.1 0-1.9-.8-1.9-1.9v-6.6c0-1.1.8-1.9 1.9-1.9h13.9c2.6 0 4.6 2 4.6 4.6v37.6h7.5c1.1 0 1.9.8 1.9 1.9v6.6c0 1.1-.8 1.9-1.9 1.9h-13.9c-2.6 0-4.6-2-4.6-4.6z" fill="url(#A)"/><linearGradient id="B" gradientUnits="userSpaceOnUse" x1="14.293" y1="139.565" x2="264.96" y2="139.565"><stop offset="0" stop-color="#6fa3e8"/><stop offset="1" stop-color="#71cff1"/></linearGradient><path d="M258.1 122.2c-1.3.5-2.4 1.2-3.5 2 .7 5 1.1 10.2 1.1 15.4 0 59-47.8 106.8-106.8 106.8S42.1 198.6 42.1 139.6 89.9 32.8 148.9 32.8c46.5 0 86 29.7 100.7 71.1.2-.1.4-.2.7-.3 2.8-1.2 5.7-2 8.7-2.5-16.3-50.4-63.5-86.8-119.3-86.8-69.2 0-125.3 56.1-125.3 125.3s56.1 125.3 125.3 125.3S265 208.8 265 139.6c0-6.4-.5-12.6-1.4-18.8-2 .2-3.8.6-5.5 1.4z" fill="url(#B)"/></svg>
        <div class="flex flex-col md:flex-row place-content-between md:gap-x-4 text-white">
            <div>
                <ul class="marker:text-sky-400 list-disc font-normal text-white text-opacity-75 md:max-w-[255px]">
                    <span class="block font-semibold text-white">
                        {t('footer.issue')}
                    </span>
                    <li class="ml-3 pt-4">
                        {t('footer.see-status')}&nbsp;<a class="text-sky-400 hover:underline underline-offset-4" href="https://status.minet.net" target="_blank">{t('footer.see-status.link')}</a>.
                    </li>
                    <li class="ml-3 pt-4">
                        {t('footer.duty')}
                    </li>
                    <li class="ml-3 pt-4">
                        {t('footer.ticket')}.
                    </li>
                </ul>
                <div class="flex mt-6">
                <ButtonAction class="relative rounded-full px-3 py-2" href="https://tickets.minet.net/" rounded="full" underline={false}>
                    {(t('footer.ticket') as string).charAt(0).toUpperCase() + t('footer.ticket').slice(1)}
                </ButtonAction>
                </div>
            </div>
            <div class="grid grid-cols-2 md:grid-cols-3 gap-6 pt-20 md:pt-0 text-sm">
                <div class="md:w-auto md:p-4 lg:w-40">
                    <span class="block font-semibold">
                        Ressources
                    </span>
                    <ul class="flex flex-col gap-y-3 pt-3">
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`${lang}/tutoriels/`} target="_self">
                                {t('nav.tutorials')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/equipe/`} target="_self">
                                {t('nav.team')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/clubs/`} target="_self">
                                {t('nav.clubs')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/partenaires/`} target="_self">
                                {t('nav.partners')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href={`/${lang}/services/`} target="_self">
                                {t('nav.services')}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="md:w-auto md:p-4 lg:w-40">
                    <span class="block font-semibold">
                        {t('footer.contact')}
                    </span>
                    <ul class="flex flex-col gap-y-3 pt-3">
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://tickets.minet.net/" target="_blank">
                                Tickets
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://www.facebook.com/minet.tmsp/" target="_blank">
                                Facebook
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://discord.gg/minet" target="_blank">
                                Discord
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-start-1 row-start-2 flex md:hidden items-end">
                    <ul class="flex items-end gap-2">
                        <li>
                            <a aria-label="Facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/minet.tmsp/">
                                <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M17.95 1.004L14.644 1c-3.206 0-5.277 2.124-5.277 5.415V8.91H6.05v4.515h3.317L9.363 23h4.641l.004-9.575h3.806l-.003-4.514h-3.803V6.794c0-1.018.241-1.533 1.566-1.533l2.366-.001z"/></svg>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/MinetTMSP/">
                                <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M19.9525 7.91974C19.9647 8.09605 19.9647 8.27237 19.9647 8.45031C19.9647 13.8722 15.8371 20.1253 8.28966 20.1253V20.1221C6.06013 20.1253 3.8769 19.4867 2 18.2825C2.32419 18.3215 2.65001 18.341 2.97664 18.3418C4.82429 18.3435 6.61913 17.7235 8.07272 16.5819C6.31688 16.5486 4.77717 15.4038 4.23928 13.7325C4.85436 13.8511 5.48812 13.8267 6.09181 13.6618C4.17753 13.275 2.80033 11.5931 2.80033 9.63983C2.80033 9.62195 2.80033 9.60489 2.80033 9.58783C3.37071 9.90552 4.00934 10.0818 4.6626 10.1013C2.85964 8.89638 2.30388 6.49784 3.39265 4.62256C5.47593 7.18604 8.54967 8.74444 11.8493 8.90938C11.5186 7.48423 11.9703 5.99083 13.0364 4.989C14.689 3.43548 17.2882 3.51511 18.8418 5.16694C19.7607 4.98575 20.6415 4.64856 21.4475 4.1708C21.1412 5.12063 20.5001 5.92746 19.6437 6.44015C20.457 6.34428 21.2517 6.12652 22 5.7942C21.4491 6.61972 20.7552 7.33879 19.9525 7.91974Z"></path></svg>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/minet">
                                <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M21 4.32353V19.6765C21 20.0275 20.8606 20.3641 20.6123 20.6123C20.3641 20.8606 20.0275 21 19.6765 21H4.32353C3.97251 21 3.63586 20.8606 3.38765 20.6123C3.13944 20.3641 3 20.0275 3 19.6765V4.32353C3 3.97251 3.13944 3.63586 3.38765 3.38765C3.63586 3.13944 3.97251 3 4.32353 3H19.6765C20.0275 3 20.3641 3.13944 20.6123 3.38765C20.8606 3.63586 21 3.97251 21 4.32353ZM8.29412 9.88235H5.64706V18.3529H8.29412V9.88235ZM8.53235 6.97059C8.53375 6.77036 8.49569 6.57182 8.42035 6.3863C8.34502 6.20078 8.23387 6.03191 8.09328 5.88935C7.95268 5.74678 7.78537 5.6333 7.60091 5.5554C7.41646 5.47749 7.21846 5.43668 7.01824 5.43529H6.97059C6.5634 5.43529 6.17289 5.59705 5.88497 5.88497C5.59705 6.17289 5.43529 6.5634 5.43529 6.97059C5.43529 7.37777 5.59705 7.76828 5.88497 8.05621C6.17289 8.34413 6.5634 8.50588 6.97059 8.50588C7.17083 8.51081 7.37008 8.47623 7.55696 8.40413C7.74383 8.33202 7.91467 8.2238 8.0597 8.08565C8.20474 7.94749 8.32113 7.78212 8.40223 7.59897C8.48333 7.41582 8.52755 7.21848 8.53235 7.01824V6.97059ZM18.3529 13.2071C18.3529 10.6606 16.7329 9.67059 15.1235 9.67059C14.5966 9.6442 14.0719 9.75644 13.6019 9.9961C13.1318 10.2358 12.7328 10.5945 12.4447 11.0365H12.3706V9.88235H9.88235V18.3529H12.5294V13.8476C12.4911 13.3862 12.6365 12.9283 12.9339 12.5735C13.2313 12.2186 13.6567 11.9954 14.1176 11.9524H14.2182C15.06 11.9524 15.6847 12.4818 15.6847 13.8159V18.3529H18.3318L18.3529 13.2071Z"></path></svg>
                            </a>
                        </li>
                        <li>
                            <a aria-label="Discord" target="_blank" rel="noopener noreferrer" href="https://discord.gg/minet">
                                <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M18.9308 5.64161C17.6561 5.05671 16.2892 4.62578 14.8599 4.37897C14.8339 4.3742 14.8079 4.38611 14.7945 4.40991C14.6187 4.72259 14.4239 5.13051 14.2876 5.45113C12.7503 5.22099 11.221 5.22099 9.71527 5.45113C9.57887 5.12338 9.37707 4.72259 9.20048 4.40991C9.18707 4.3869 9.16107 4.375 9.13504 4.37897C7.70659 4.62499 6.33963 5.05592 5.06411 5.64161C5.05307 5.64637 5.04361 5.65431 5.03732 5.66462C2.44449 9.53826 1.73421 13.3167 2.08265 17.0483C2.08423 17.0665 2.09447 17.084 2.10867 17.0951C3.81934 18.3514 5.47642 19.114 7.10273 19.6196C7.12876 19.6275 7.15634 19.618 7.1729 19.5965C7.55761 19.0712 7.90054 18.5172 8.19456 17.9347C8.21192 17.9006 8.19535 17.8601 8.15989 17.8466C7.61594 17.6403 7.098 17.3887 6.59977 17.103C6.56037 17.08 6.55721 17.0236 6.59347 16.9966C6.69831 16.9181 6.80318 16.8363 6.9033 16.7538C6.92141 16.7387 6.94665 16.7356 6.96794 16.7451C10.2411 18.2395 13.7846 18.2395 17.0191 16.7451C17.0404 16.7348 17.0657 16.7379 17.0846 16.753C17.1847 16.8356 17.2895 16.9181 17.3952 16.9966C17.4314 17.0236 17.4291 17.08 17.3897 17.103C16.8914 17.3943 16.3735 17.6403 15.8288 17.8458C15.7933 17.8593 15.7775 17.9006 15.7949 17.9347C16.0952 18.5164 16.4381 19.0704 16.8157 19.5957C16.8315 19.618 16.8599 19.6275 16.8859 19.6196C18.5201 19.114 20.1772 18.3514 21.8879 17.0951C21.9028 17.084 21.9123 17.0673 21.9139 17.049C22.3309 12.7349 21.2154 8.98749 18.9568 5.66541C18.9513 5.65431 18.9419 5.64637 18.9308 5.64161ZM8.68335 14.7761C7.69792 14.7761 6.88594 13.8714 6.88594 12.7603C6.88594 11.6493 7.68217 10.7446 8.68335 10.7446C9.69239 10.7446 10.4965 11.6572 10.4807 12.7603C10.4807 13.8714 9.68451 14.7761 8.68335 14.7761ZM15.329 14.7761C14.3435 14.7761 13.5316 13.8714 13.5316 12.7603C13.5316 11.6493 14.3278 10.7446 15.329 10.7446C16.338 10.7446 17.1421 11.6572 17.1264 12.7603C17.1264 13.8714 16.338 14.7761 15.329 14.7761Z"></path></svg>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="md:w-auto md:p-4 lg:w-40">
                    <span class="block font-semibold">
                        {t('footer.association')}
                    </span>
                    <ul class="flex flex-col gap-y-3 pt-3">
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://minet.net/res/statuts.pdf" target="_blank">
                                {t('footer.association.status')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="https://chartes.minet.net/" target="_blank">
                                {t('footer.association.charter')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="#" target="_blank">
                                {t('footer.association.privacy')}
                            </a>
                        </li>
                        <li>
                            <a class="transition-colors text-white hover:text-sky-400 text-opacity-75" href="#" target="_self">
                                {t('footer.association.legal')}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="flex items-center place-content-between pt-14">
            <span class="text-white text-opacity-75">
                © 2023 MiNET - {t('footer.rights')}<br />
                {t('footer.credit')}&nbsp;<span class="font-mono font-semibold text-red-400">xanode</span>
            </span>
            <ul class="hidden md:flex gap-x-2 [&>svg]:cursor-pointer">
                <li>
                    <a aria-label="Facebook" target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/minet.tmsp/">
                        <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M17.95 1.004L14.644 1c-3.206 0-5.277 2.124-5.277 5.415V8.91H6.05v4.515h3.317L9.363 23h4.641l.004-9.575h3.806l-.003-4.514h-3.803V6.794c0-1.018.241-1.533 1.566-1.533l2.366-.001z"/></svg>
                    </a>
                </li>
                <li>
                    <a aria-label="Twitter" target="_blank" rel="noopener noreferrer" href="https://twitter.com/MinetTMSP/">
                        <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M19.9525 7.91974C19.9647 8.09605 19.9647 8.27237 19.9647 8.45031C19.9647 13.8722 15.8371 20.1253 8.28966 20.1253V20.1221C6.06013 20.1253 3.8769 19.4867 2 18.2825C2.32419 18.3215 2.65001 18.341 2.97664 18.3418C4.82429 18.3435 6.61913 17.7235 8.07272 16.5819C6.31688 16.5486 4.77717 15.4038 4.23928 13.7325C4.85436 13.8511 5.48812 13.8267 6.09181 13.6618C4.17753 13.275 2.80033 11.5931 2.80033 9.63983C2.80033 9.62195 2.80033 9.60489 2.80033 9.58783C3.37071 9.90552 4.00934 10.0818 4.6626 10.1013C2.85964 8.89638 2.30388 6.49784 3.39265 4.62256C5.47593 7.18604 8.54967 8.74444 11.8493 8.90938C11.5186 7.48423 11.9703 5.99083 13.0364 4.989C14.689 3.43548 17.2882 3.51511 18.8418 5.16694C19.7607 4.98575 20.6415 4.64856 21.4475 4.1708C21.1412 5.12063 20.5001 5.92746 19.6437 6.44015C20.457 6.34428 21.2517 6.12652 22 5.7942C21.4491 6.61972 20.7552 7.33879 19.9525 7.91974Z"></path></svg>
                    </a>
                </li>
                <li>
                    <a aria-label="Linkedin" target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/company/minet">
                        <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M21 4.32353V19.6765C21 20.0275 20.8606 20.3641 20.6123 20.6123C20.3641 20.8606 20.0275 21 19.6765 21H4.32353C3.97251 21 3.63586 20.8606 3.38765 20.6123C3.13944 20.3641 3 20.0275 3 19.6765V4.32353C3 3.97251 3.13944 3.63586 3.38765 3.38765C3.63586 3.13944 3.97251 3 4.32353 3H19.6765C20.0275 3 20.3641 3.13944 20.6123 3.38765C20.8606 3.63586 21 3.97251 21 4.32353ZM8.29412 9.88235H5.64706V18.3529H8.29412V9.88235ZM8.53235 6.97059C8.53375 6.77036 8.49569 6.57182 8.42035 6.3863C8.34502 6.20078 8.23387 6.03191 8.09328 5.88935C7.95268 5.74678 7.78537 5.6333 7.60091 5.5554C7.41646 5.47749 7.21846 5.43668 7.01824 5.43529H6.97059C6.5634 5.43529 6.17289 5.59705 5.88497 5.88497C5.59705 6.17289 5.43529 6.5634 5.43529 6.97059C5.43529 7.37777 5.59705 7.76828 5.88497 8.05621C6.17289 8.34413 6.5634 8.50588 6.97059 8.50588C7.17083 8.51081 7.37008 8.47623 7.55696 8.40413C7.74383 8.33202 7.91467 8.2238 8.0597 8.08565C8.20474 7.94749 8.32113 7.78212 8.40223 7.59897C8.48333 7.41582 8.52755 7.21848 8.53235 7.01824V6.97059ZM18.3529 13.2071C18.3529 10.6606 16.7329 9.67059 15.1235 9.67059C14.5966 9.6442 14.0719 9.75644 13.6019 9.9961C13.1318 10.2358 12.7328 10.5945 12.4447 11.0365H12.3706V9.88235H9.88235V18.3529H12.5294V13.8476C12.4911 13.3862 12.6365 12.9283 12.9339 12.5735C13.2313 12.2186 13.6567 11.9954 14.1176 11.9524H14.2182C15.06 11.9524 15.6847 12.4818 15.6847 13.8159V18.3529H18.3318L18.3529 13.2071Z"></path></svg>
                    </a>
                </li>
                <li>
                    <a aria-label="Discord" target="_blank" rel="noopener noreferrer" href="https://discord.gg/minet">
                        <svg class="w-6 h-6 fill-white hover:fill-neutral-400 transition-colors" viewBox="0 0 24 24"><path d="M18.9308 5.64161C17.6561 5.05671 16.2892 4.62578 14.8599 4.37897C14.8339 4.3742 14.8079 4.38611 14.7945 4.40991C14.6187 4.72259 14.4239 5.13051 14.2876 5.45113C12.7503 5.22099 11.221 5.22099 9.71527 5.45113C9.57887 5.12338 9.37707 4.72259 9.20048 4.40991C9.18707 4.3869 9.16107 4.375 9.13504 4.37897C7.70659 4.62499 6.33963 5.05592 5.06411 5.64161C5.05307 5.64637 5.04361 5.65431 5.03732 5.66462C2.44449 9.53826 1.73421 13.3167 2.08265 17.0483C2.08423 17.0665 2.09447 17.084 2.10867 17.0951C3.81934 18.3514 5.47642 19.114 7.10273 19.6196C7.12876 19.6275 7.15634 19.618 7.1729 19.5965C7.55761 19.0712 7.90054 18.5172 8.19456 17.9347C8.21192 17.9006 8.19535 17.8601 8.15989 17.8466C7.61594 17.6403 7.098 17.3887 6.59977 17.103C6.56037 17.08 6.55721 17.0236 6.59347 16.9966C6.69831 16.9181 6.80318 16.8363 6.9033 16.7538C6.92141 16.7387 6.94665 16.7356 6.96794 16.7451C10.2411 18.2395 13.7846 18.2395 17.0191 16.7451C17.0404 16.7348 17.0657 16.7379 17.0846 16.753C17.1847 16.8356 17.2895 16.9181 17.3952 16.9966C17.4314 17.0236 17.4291 17.08 17.3897 17.103C16.8914 17.3943 16.3735 17.6403 15.8288 17.8458C15.7933 17.8593 15.7775 17.9006 15.7949 17.9347C16.0952 18.5164 16.4381 19.0704 16.8157 19.5957C16.8315 19.618 16.8599 19.6275 16.8859 19.6196C18.5201 19.114 20.1772 18.3514 21.8879 17.0951C21.9028 17.084 21.9123 17.0673 21.9139 17.049C22.3309 12.7349 21.2154 8.98749 18.9568 5.66541C18.9513 5.65431 18.9419 5.64637 18.9308 5.64161ZM8.68335 14.7761C7.69792 14.7761 6.88594 13.8714 6.88594 12.7603C6.88594 11.6493 7.68217 10.7446 8.68335 10.7446C9.69239 10.7446 10.4965 11.6572 10.4807 12.7603C10.4807 13.8714 9.68451 14.7761 8.68335 14.7761ZM15.329 14.7761C14.3435 14.7761 13.5316 13.8714 13.5316 12.7603C13.5316 11.6493 14.3278 10.7446 15.329 10.7446C16.338 10.7446 17.1421 11.6572 17.1264 12.7603C17.1264 13.8714 16.338 14.7761 15.329 14.7761Z"></path></svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>