---
import { getLangFromUrl, useTranslations } from "@i18n/utils";
import ButtonAction from "@components/ButtonAction.astro";
import Icon from "@components/Icon.astro";
import LanguagePicker from "@components/LanguagePicker.astro";
import NavButton from "@components/NavButton.astro";
import NavItem from "@components/NavItem.astro";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="fixed w-full z-50 text-white bg-neutral-900 lg:bg-neutral-800/50 lg:backdrop-blur-sm border-b border-neutral-700 p-4">
    <div class="flex items-center max-w-8xl mx-auto">
        <a class="flex items-center gap-2 overflow-hidden" href={`/${lang}/`}>
            <span class="sr-only">MiNET</span>
            <Icon className="h-20 w-auto fill-white" name="minet" />
        </a>
        <LanguagePicker />
        {/* Large screen */}
        <nav class="relative hidden lg:flex items-center ml-auto">
            <ul class="flex items-center leading-8 space-x-4 text-center text-sm">
                <NavItem href={`/${lang}/tutoriels/`} target="_self">
                    {t('nav.tutorials')}
                </NavItem>
                <NavItem href={`/${lang}/equipe/`}` target="_self">
                    {t('nav.team')}
                </NavItem>
                <NavItem href={`/${lang}/clubs/`} target="_self">
                    {t('nav.clubs')}
                </NavItem>
                <NavItem href={`/${lang}/partenaires/`} target="_self">
                    {t('nav.partners')}
                </NavItem>
                <NavItem href={`/${lang}/services/`} target="_self">
                    {t('nav.services')}
                </NavItem>
                <NavItem href="https://payment.minet.net/" target='_blank'>
                    {t('nav.subscribe')}
                </NavItem>
                <NavItem href="https://conferences.minet.net/" target='_blank'>
                    {t('nav.conferences')}
                </NavItem>
                <NavItem href="https://status.minet.net/" target='_blank'>
                    {t('nav.status')}
                </NavItem>
            </ul>
            <div class="flex ml-4 pl-4">
                <ButtonAction class="relative p-3 font-medium" href="https://adh6.minet.net/" rounded="md">
                    {t('nav.adh6')}
                </ButtonAction>
            </div>
        </nav>
        {/* Mobile screen */}
        <NavButton />
    </div>
    <nav id="phone-menu" aria-hidden="true" class="aria-hidden:hidden relative w-full mt-4">
        <div class="flex flex-col items-center justify-center h-full">
            <ul class="flex flex-col items-center justify-center leading-8 space-y-2 text-center text-sm">
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href={`/${lang}/tutoriels/`} target="_self">
                    {t('nav.tutorials')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href={`/${lang}/equipe/`} target="_self">
                    {t('nav.team')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href={`/${lang}/clubs/`} target="_self">
                    {t('nav.clubs')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href={`/${lang}/partenaires/`} target="_self">
                    {t('nav.partners')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href={`/${lang}/services/`} target="_self">
                    {t('nav.services')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href="https://payment.minet.net/" target='_blank'>
                    {t('nav.subscribe')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href="https://conferences.minet.net/" target='_blank'>
                    {t('nav.conferences')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
                <NavItem href="https://status.minet.net/" target='_blank'>
                    {t('nav.status')}
                </NavItem>
                <div class="w-screen h-[1px] bg-white/10"></div>
            </ul>
            <div class="flex mt-4 self-end">
                <ButtonAction class="relative p-3 text-sm font-medium" href="https://adh6.minet.net/" rounded="md">
                    {t('nav.adh6')}
                </ButtonAction>
            </div>
        </div>
    </nav>
</header>