---
import { getStaticTranslations, getLangFromUrl, useTranslations } from '@i18n/utils';
import { activeTeam, teams } from "@libs/team";
import MemberCard from '@components/team/MemberCard.astro';
import OldMembersSection from '@components/team/OldMembersSection.astro';
import PulseCircles from '@components/team/PulseCircles.astro';
import TeamCard from '@components/team/TeamCard.astro';
import TeamCarousel from '@components/team/TeamCarousel.astro';
import Layout from '@layouts/Layout.astro';


export function getStaticPaths() {
	return getStaticTranslations();
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="MiNET - L'équipe">
	<main class="py-20 px-2 mt-20 overflow-x-hidden">
		<div class="flex flex-col items-center gap-40">
			<section class="relative text-white">
				<div class="mx-auto pb-56">
					<h1 class="relative text-5xl md:text-7xl font-bold text-center mb-10">
						{t('team.title')}
					</h1>
					<p class="text-2xl text-center">
						{t('team.subtitle')}
					</p>
					<PulseCircles />
					<TeamCarousel startIndex={7}>
						{activeTeam.members.map(member =>
						<li>
							<TeamCard image={member.image as ImageMetadata} name={member.name} role={t(member.role) as string} pseudo={member.pseudo} resignation={member.hasResigned} />
						</li>
						)}
					</TeamCarousel>
				</div>
			</section>
			{teams.map(team =>
			<OldMembersSection mandate={team.mandate}>
				{team.members.map(member =>
				<MemberCard name={member.name} pseudo={member.pseudo} role={member.role} resignation={member.hasResigned} />
				)}
			</OldMembersSection>
			)}
		</div>
	</main>
</Layout>