---
import { getStaticTranslations, getLangFromUrl, useTranslations } from '@i18n/utils';
import { teams } from "@libs/team";
import MemberCard from '@components/team/MemberCard.astro';
import OldMembersSection from '@components/team/OldMembersSection.astro';
import PulseCircles from '@components/team/PulseCircles.astro';
import TeamCard from '@components/team/TeamCard.astro';
import TeamCarousel from '@components/team/TeamCarousel.astro';
import Layout from '@layouts/Layout.astro';

import RespoWifiReference from "@assets/equipe/tim.png";
import RespoFormations1Reference from "@assets/equipe/val.png";
import RespoFormations2Reference from "@assets/equipe/louis.png";
import RespoWebReference from "@assets/equipe/thomas.png";
import TresorierReference from "@assets/equipe/baptiste.png";
import VicePresident1Reference from "@assets/equipe/tom.png";
import RespoInventaireReference from "@assets/equipe/mathis.png";
import SecretaireReference from "@assets/equipe/esteban.png";
import RespoClubsReference from "@assets/equipe/chabane.png";
import RespoCommunication1Reference from "@assets/equipe/raph.png";
import PresidentReference from "@assets/equipe/nicolasp.png";
import RespoCommunication2Reference from "@assets/equipe/juliette.png";
import VicePresident2Reference from "@assets/equipe/nicolasvp.png";
import RespoREReference from "@assets/equipe/yasmine.png";

export function getStaticPaths() {
	return getStaticTranslations();
}

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<Layout title="MiNET - L'équipe">
	<main class="py-20 px-2 mt-20 overflow-x-hidden">
		<div class="flex flex-col items-center gap-40">
			<section class="relative text-white">
				<div class="mx-auto pb-56">
					<h1 class="relative text-5xl md:text-7xl font-bold text-center mb-10">
						{t('team.title')}
					</h1>
					<p class="text-2xl text-center">
						{t('team.subtitle')}
					</p>
					<PulseCircles />
					<TeamCarousel startIndex={7}>
						<li>
							<TeamCard image={RespoREReference} name="Yasmine Aluch" role={t('team.role.corporate') as string} pseudo="samayass" />
						</li>
						<li>
							<TeamCard image={RespoClubsReference} name="Chabane Petit" role={t('team.role.clubs') as string} pseudo="lowengeist" />
						</li>
						<li>
							<TeamCard image={RespoCommunication1Reference} name="Raphaël Bachelier" role={t('team.role.communication') as string} pseudo="ptitegame" />
						</li>
						<li>
							<TeamCard image={RespoWebReference} name="Thomas Robert" role={t('team.role.web') as string} pseudo="toyohr" />
						</li>
						<li>
							<TeamCard image={RespoFormations1Reference} name="Valentin Lantigny" role={t('team.role.formations') as string} pseudo="valt" />
						</li>
						<li>
							<TeamCard image={SecretaireReference} name="Esteban Dectot" role={t('team.role.secretary') as string} pseudo="greemty" />
						</li>
						<li>
							<TeamCard image={VicePresident1Reference} name="Tom Burellier" role={t('team.role.vp') as string} pseudo="balmine" />
						</li>
						<li>
							<TeamCard image={PresidentReference} name="Nicolas Rocq" role={t('team.role.president') as string} pseudo="nishogi" />
						</li>
						<li>
							<TeamCard image={VicePresident2Reference} name="Nicolas Renout" role={t('team.role.vp') as string} pseudo="naincapable" />
						</li>
						<li>
							<TeamCard image={TresorierReference} name="Baptiste Legros" role={t('team.role.treasurer') as string} pseudo="direshaw" />
						</li>
						<li>
							<TeamCard image={RespoFormations2Reference} name="Louis Delyon" role={t('team.role.formations') as string} pseudo="rustace" />
						</li>
						<li>
							<TeamCard image={RespoWifiReference} name="Timothée Mathubert" role={t('team.role.wifi') as string} pseudo="xhelozs" />
						</li>
						<li>
							<TeamCard image={RespoCommunication2Reference} name="Juliette Bourdiau" role={t('team.role.communication') as string} pseudo="jouliet" />
						</li>
						<li>
							<TeamCard image={RespoInventaireReference} name="Mathis Williot" role={t('team.role.inventory') as string} pseudo="jflyxx" />
						</li>
					</TeamCarousel>
				</div>
			</section>
			{teams.map(team =>
			<OldMembersSection mandate={team.mandate}>
				{team.members.map(member =>
				<MemberCard name={member.name} pseudo={member.pseudo} role={member.role} resignation={member.hasResigned} />
				)}
			</OldMembersSection>
			)}
		</div>
	</main>
</Layout>